   
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_tl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_t.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_tr.gif" width="10" height="10"></td>
	</tr>
	<tr>
		<td class="body_left_border">&nbsp;</td>
		<td width='100%' class="body" bgcolor="white" valign="top">
			<h1 class="body"></h1>
			<p class="menu_item">
                <a href="#newfeatures">New Features</a>&nbsp;&nbsp;
				<a href="#latestnews">Latest News</a>&nbsp;&nbsp;
				<a href="#overview">Overview</a>&nbsp;&nbsp;
				<a href="#installation">Download and Installation</a>&nbsp;&nbsp;
				<a href="index.php?page=screenshots">Introduction, Features, Screenshots</a>&nbsp;&nbsp;
				<a href="index.php?page=programing">Programming</a>&nbsp;&nbsp;
				<a href="#mailinglists">Mailing Lists</a>&nbsp;&nbsp;
				<a href="#git">GIT</a>&nbsp;&nbsp;
			</p>
		</td>
		<td class="body_right_border">&nbsp;</td>
	</tr>
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_bl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_b.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_br.gif" width="10" height="10"></td>
	</tr>
</table>

<p class="menu_divider"></p>


<p class="menu_divider"></p>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_tl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_t.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_tr.gif" width="10" height="10"></td>
	</tr>
	<tr>
      <td class="body_left_border">&nbsp;</td>
      <td width='100%' class="body" bgcolor="white" valign="top">
         <h3 class="body"><A name="newfeatures">Feature highlights of 4.1.0:</A></h3>
		 <ul>
			 <li>Change tracking including GIT (<a href="https://git-scm.com">https://git-scm.com</a>) integration</li>
			 <li>Selectively copy Aliases between SQuirreL installations</li>
			 <li>Selectively copy Bookmarks between SQuirreL installations</li>
			 <li>Option to view Objects window alongside SQL editor</li>
			 <li>On demand table creation for CSV/Excel file imports</li>
			 <li>Java 14 compatibility</li>
		 </ul>
		  <B><p>All new features and bug fixes can be found in our
            <a href="http://sourceforge.net/p/squirrel-sql/git/ci/master/tree/sql12/core/doc/changes.txt">change log</a>.
		 </p>

			 <br>
			 <br>

            <p><a href="#installation">Download SQuirreL SQL Client</A></p>

             <br>

             <p><a href="index.php?page=screenshots">Introduction, Features, Screenshots</A></p>

             <br>
             <p>
                <a href="http://sourceforge.net/donate/index.php?group_id=28383">Support us:<img src="http://images.sourceforge.net/images/project-support.jpg" width="88" height="32" border="0" hspace="15" alt="Support This Project" />
                </a>
				<br>

				  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				      <label>Some people recently experienced that the support button links to the PayPal page in German.</label><br>
				      <label>This button now definitely links to the English PayPal page:</label>
					  <input type="hidden" name="cmd" value="_s-xclick">
					  <input type="hidden" name="hosted_button_id" value="JPP775KYBGFQG">
					  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					  <img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
				  </form>

			  </p>
             <br>
             <p><a href="http://sourceforge.net/projects/squirrel-sql/reviews/">Review SQuirreL on Sourceforge</A></p>

         </B></P>

      </td>
      <td class="body_right_border">&nbsp;</td>
   </tr>
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_bl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_b.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_br.gif" width="10" height="10"></td>
	</tr>
</table>

<p class="menu_divider"></p>


<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_tl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_t.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_tr.gif" width="10" height="10"></td>
	</tr>
	<tr>
		<td class="body_left_border">&nbsp;</td>
		<td width='100%' class="body" bgcolor="white" valign="top">
			<h1 class="body"><a name="latestnews">Latest News</a></h1>
			<br>

			<center>
				<h3 class="body">
					Snapshot 20201129_0033 is a release candidate for version 4.2.0. So it would be nice if you could give it a try.<br>
					For details see our <A href="http://sourceforge.net/p/squirrel-sql/git/ci/master/tree/sql12/core/doc/changes.txt">change log</A>.<br>
					<A href="http://sourceforge.net/projects/squirrel-sql/files/3-snapshots/snapshot-20201129_0033/squirrel-sql-snapshot-20201129_0033-standard.jar/download">Download installer for Windows/Linux/others</a><br>
					<A href="http://sourceforge.net/projects/squirrel-sql/files/3-snapshots/snapshot-20201129_0033/squirrel-sql-snapshot-20201129_0033-MACOSX-install.jar/download">Download installer for Mac OS </a><br><br>
				</h3>
				<br><hr>
				<h3 class="body">
					Note: We don't anounce every snapshot release here. If you are interested please check<br>
					<A href="https://sourceforge.net/projects/squirrel-sql/files/3-snapshots/">https://sourceforge.net/projects/squirrel-sql/files/3-snapshots/</A><br>
					for the latest snapshots regularly.
				</h3>
				<br><hr>
				<h3 class="body">
					SQuirreL 4.1.0 is released. Feature highlights are listed above.<br>
					For details see our <A href="https://sourceforge.net/p/squirrel-sql/git/ci/master/tree/sql12/core/doc/changes.txt">change log</A>.<br>
					<A href="https://sourceforge.net/projects/squirrel-sql/files/1-stable/4.1.0/squirrel-sql-4.1.0-standard.jar/download">Download installer for Windows/Linux/others</a><br>
					<A href="https://sourceforge.net/projects/squirrel-sql/files/1-stable/4.1.0/squirrel-sql-4.1.0-MACOSX-install.jar/download">Download installer for Mac OS </a><br><br>
				</h3>
			</center>


		</td>
		<td class="body_right_border">&nbsp;</td>
	</tr>
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_bl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_b.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_br.gif" width="10" height="10"></td>
	</tr>
</table>

<p class="menu_divider"></p>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_tl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_t.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_tr.gif" width="10" height="10"></td>
	</tr>
	<tr>
		<td class="body_left_border">&nbsp;</td>
		<td width='100%' class="body" bgcolor="white" valign="top">
			<h1 class="body"><A name="overview">Overview</A></h1>

			<p>SQuirreL SQL Client is a graphical Java program that will
			allow you to view the structure of a JDBC compliant
			database, browse the data in tables, issue SQL commands etc, see 
			<a href="http://sourceforge.net/apps/trac/squirrel-sql/wiki/GettingStarted">Getting Started</a> 
			and 
			<a href="index.php?page=screenshots">Introduction</a>.
			The minimum version of Java supported is 1.8.x as of SQuirreL version 3.8.1. See the
			<a href="index.php?page=old">Old Versions</a> 
			page for versions of SQuirreL that will work with older
			versions of Java.
         <br/>
         </P>


         <P>SQuirreL's functionality can be extended through the use of
			<A HREF="index.php?page=plugins">plugins</A>.</P>

			<p>A short introduction can be found <a href="index.php?page=screenshots">here</a>.
				To see the change	history (including changes not yet released) click <a href=
				"http://sourceforge.net/p/squirrel-sql/git/ci/master/tree/sql12/core/doc/changes.txt">here</a>.</p>

         <p>For a more detailed introduction see the <a href="paper/SQuirreL_us.pdf">English</a> or
            <a href="paper/SQuirreL_de.pdf">German</a> of our paper on SQuirreL.</p> 

         <p>SQuirreL's Wiki page can be found <a href="http://sourceforge.net/apps/trac/squirrel-sql/wiki">here</a>.</p>

         <p>Susan Cline graciously took the time to document the
				<a href="http://db.apache.org/derby/integrate/SQuirreL_Derby.html">steps</a> 
				she followed to setup an <a href="http://db.apache.org/">Apache Derby</a> 
				database from scratch and use the SQuirreL SQL Client to explore it.

			<p>Quite some time ago Kulvir Singh Bhogal wrote a great
			<a href="http://www-106.ibm.com/developerworks/db2/library/techarticle/dm-0312bhogal/index.html">tutorial</a>
			on SQuirreL and published it at the
			<a href="http://www-106.ibm.com/developerworks">IBM developerWorks</a> site.
			He has kindly allowed us to mirror it <a href="/kulvir/tutorial.html">locally</a>. The tutorial is not really up to date but
			especially for doing the first steps it is still of help.</p>

			<p>SQuirrel was originally released under the
			<a href="http://www.gnu.org/licenses/licenses.html#GPL">GNU General Public License</a>. 
			Since version 1.1beta2 it has been released under the 
			<a href="http://www.gnu.org/licenses/licenses.html#LGPL">GNU Lesser General Public License</a>.
		</td>
		<td class="body_right_border">&nbsp;</td>
	</tr>
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_bl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_b.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_br.gif" width="10" height="10"></td>
	</tr>
</table>

<p class="menu_divider"></p>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_tl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_t.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_tr.gif" width="10" height="10"></td>
	</tr>
	<tr>
		<td class="body_left_border">&nbsp;</td>
		<td width='100%' bgcolor="white" valign="top">
			<h1 class="body"><A name="installation">Download and Installation</A></h1>
			<p>The SQuirreL SQL Client is installed with the IzPack Java
			installer. Download the file
			<span class="code">squirrel-sql-&lt;version&gt;-install.jar</span>
			and execute it using the following command:

         <BR><code>
			&nbsp;&nbsp;&nbsp;java -jar squirrel-sql-&lt;version&gt;-install.jar
			</code>

			<p>Make sure that you have write privileges to the directory
			that you want to install into.</P>

			<p>Note that some browsers may attempt to open this
			file rather than download it. In this case, right-click on
			the download link and click your browser's equivalent of the
			&quot;Save as...&quot; menu item.

			<p>On Windows, execute the file <span class="code">squirrel-sql.bat</span> to run the
			application. On Unix, the file is <span class="code">squirrel-sql.sh</span>.

			<h2>The most important <U>downloads</U> are:</h2>

         <UL>
            <LI><B><a href="http://sourceforge.net/projects/squirrel-sql/files/1-stable/4.1.0/squirrel-sql-4.1.0-standard.jar/download">Install jar of SQuirreL 4.1.0 for Windows/Linux/others</a></B></LI>
            <LI><B><a href="http://sourceforge.net/projects/squirrel-sql/files/1-stable/4.1.0/squirrel-sql-4.1.0-MACOSX-install.jar/download">Install jar of SQuirreL 4.1.0 for MacOS X</a></B></LI>
            <LI><B><a href="http://sourceforge.net/projects/squirrel-sql/files/3-snapshots/">Install jars of latest snapshots</a></B></LI>
            <LI><B><a href="http://sourceforge.net/projects/squirrel-sql/files/1-stable/4.1.0-plainzip/">Plain zips the latest release for Windows/Linux/MacOS X/others</a></B></LI>
            <LI><B><a href="http://sourceforge.net/projects/squirrel-sql/files/">Overview of all available downloads</a></B></LI>
         </UL>


			<p>See the <A HREF="index.php?page=plugins">plugins</A>
			page for instructions on installing plugins.</P>

			<p>To checkout SQuirreL from the Git repository use the command:
			<BR><code>
			&nbsp;&nbsp;&nbsp;git clone git://git.code.sf.net/p/squirrel-sql/git squirrel-sql-git
			</code>
            <BR>or
			<BR><code>
			&nbsp;&nbsp;&nbsp;git clone http://git.code.sf.net/p/squirrel-sql/git squirrel-sql-git
			</code>
            <p>Registered developers should use:
                <BR><code>
                    &nbsp;&nbsp;&nbsp;git clone ssh://&lt;SF user name&gt;@git.code.sf.net/p/squirrel-sql/git squirrel-sql-git
                </code>
			</p>
            The SQuirreL source code is in the sql12/ subdirectory of the clone.

            <p><a href="index.php?page=programing">Click here for information on how to build and program SQuirreL.</a></p>


        </td>
		<td class="body_right_border">&nbsp;</td>
	</tr>
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_bl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_b.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_br.gif" width="10" height="10"></td>
	</tr>
</table>

<p class="menu_divider"></p>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_tl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_t.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_tr.gif" width="10" height="10"></td>
	</tr>
	<tr>
		<td class="body_left_border">&nbsp;</td>
		<td width='100%' bgcolor="white" valign="top">
			<h1 class="body"><A name="mailinglists">Mailing Lists</a></h1>
			
			<p>There are several <a
				href="http://sourceforge.net/mail/?group_id=28383">mailing
				lists</a> for SQuirrel. All mailing lists require subscription for posting.

			<p>For questions about using SQuirreL send them to the <a
				href="http://lists.sourceforge.net/lists/listinfo/squirrel-sql-users">users</a>
			mailing list. </P>

			<p>For developers there is the 
			<A HREF="http://lists.sourceforge.net/lists/listinfo/squirrel-sql-develop">developers</A>
			mailing list. This list is for those who are interested in helping to develop SQuirreL
			or their own plugins.</P>
			</p>
		</td>
		<td class="body_right_border">&nbsp;</td>
	</tr>
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_bl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_b.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_br.gif" width="10" height="10"></td>
	</tr>
</table>

<p class="menu_divider"></p>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_tl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_t.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_tr.gif" width="10" height="10"></td>
	</tr>
	<tr>
		<td class="body_left_border">&nbsp;</td>
		<td width='100%' bgcolor="white" valign="top">
			<h1 class="body"><a name="git">GIT</a></h1>
			<p>Git is hosted at <A href="https://sourceforge.net/p/squirrel-sql/git/ci/cf32722c6974108e5fdddff1c53d519205347617/tree/">SourceForge</A>.
			The SQuirreL source code is in the sql12 subdirectory</EM> module.</p>

		</td>
		<td class="body_right_border">&nbsp;</td>
	</tr>
	<tr>
		<td width='10' height='10'><img border="0" src="images/border_bl.gif" width="10" height="10"></td>
		<td width='100%' height='10'><img border="0" src="images/border_b.gif" width="100%" height="10"></td>
		<td width='10' height='10'><img border="0" src="images/border_br.gif" width="10" height="10"></td>
	</tr>
</table>

